<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">账号</label>
        <div class="layui-input-block">
            <input type="hidden" name="id" autocomplete="off" value="{$data.id}" class="layui-input">
            <table class="layui-table" lay-size="sm" style="width:190px">
                <thead>
                <tr><td>{$data.id}</td></tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="layui-form-item">
        <?php
            if($type==1){
        ?>
        <label class="layui-form-label">职工号</label>
        <?php
           }else{
        ?>
        <label class="layui-form-label">学号</label>
        <?php
           }
        ?>
        <div class="layui-input-inline">
            <input name="no" type="text"  autocomplete="off" value="{$data.no}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-inline">
            <input name="name" type="text"  autocomplete="off" value="{$data.name}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-inline">
            <input type="radio" name="gender" value="男" title="男" {if $data.gender=="男"}checked=""{/if}>
            <input type="radio" name="gender" value="女" title="女" {if $data.gender=="女"}checked=""{/if}>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">生日</label>
        <div class="layui-input-inline">
            <input value="{$data.birthday}" id="birthday" name="birthday" type="text" lay-verify="birthday" class="layui-input" placeholder="年-月-日" lay-key="1">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">院系</label>
        <div class="layui-input-inline">
            <input value="{$data.dept}" id="department" name="dept" type="text"  lay-verify="name" autocomplete="off" placeholder="请输入院系" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button  class="layui-btn" lay-submit lay-filter="formDemo">保存</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script>
    layui.use('form', function(){
        var form = layui.form;
        form.on('submit(formDemo)',function (data){
          // var fd = new FormData(document.querySelector("form"));
            $.ajax({
                url:"/page/info_save",
                type:"post",
                data:data.field,
                //data:fd,
                // processData: false, //重要
                // contentType: false, //重要
                success:function (msg){
                    if(msg==='ok'){
                        layer.alert("更新成功",function (){
                            xadmin.close();
                        });
                    }else{
                        layer.alert("信息未更新！");
                    }
                },
                error:function (){
                    layer.alert("未知错误！");
                }
            });
            return false;
        });
    });
</script>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#birthday'
            ,format: 'yyyy-MM-dd' //可任意组合
        });
    });
</script>
</body>
</html>